
body{
    background-image: url(assets/BG.webp);
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;


    /*option*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.clock-container{
    backdrop-filter: blur(10px);
    width: 100vw;
    padding: 10px;


}

.clock{
    color: white;
    font-size:5rem ;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75   );

}